body{
	margin: 0;
	padding: 0;
	position: center;
	background-size: 1400px 720px;
	font-family: sans-serif;
	background-image: url("fundo2.jpg");
	background-repeat: no-repeat;
	
}
/*Formulario*/
.form{
	opacity: 80%;
	width: 320px;
    height: 570px;
    background: #000;
    margin-top: 65px;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;

}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);

}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;

}

.form p{
	margin: 0;
	padding: 0;
	font-weight: bold;

}

.form input{
	width: 100%;
	margin-bottom: 20px;
}

.form input[type="text"], input[type="password"], input[type="email"], input[type="number"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 30px;
	color: #fff;
	font-size: 16px;

}

.form input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #4CAF50;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.form input[type="submit"] :hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
/*Menu*/
.menu{
	margin:0;
	background-color: #4CAF50;
	list-style: none;
}

.menu ul li{
    display: inline;
}

.menu ul li a{
	padding: 10px 20px;
	display: inline-block;
	color: white;
	text-decoration: none;
}